.header {
    color: white;
    background-color: #002152;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container-fluid {
    margin-top: 20px;
}

.byucolor {
    color: #002152;
}